:root {
  --md-source: #3BA2C4;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #00131B;
  --md-ref-palette-primary10: #001F29;
  --md-ref-palette-primary20: #003544;
  --md-ref-palette-primary25: #004153;
  --md-ref-palette-primary30: #004D62;
  --md-ref-palette-primary35: #005A71;
  --md-ref-palette-primary40: #006781;
  --md-ref-palette-primary50: #0081A2;
  --md-ref-palette-primary60: #009DC3;
  --md-ref-palette-primary70: #3BB8E0;
  --md-ref-palette-primary80: #5FD4FD;
  --md-ref-palette-primary90: #B9EAFF;
  --md-ref-palette-primary95: #DEF4FF;
  --md-ref-palette-primary98: #F3FAFF;
  --md-ref-palette-primary99: #FAFDFF;
  --md-ref-palette-primary100: #FFFFFF;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #0A004A;
  --md-ref-palette-secondary10: #120068;
  --md-ref-palette-secondary20: #26188D;
  --md-ref-palette-secondary25: #322798;
  --md-ref-palette-secondary30: #3E35A4;
  --md-ref-palette-secondary35: #4A42B0;
  --md-ref-palette-secondary40: #564FBD;
  --md-ref-palette-secondary50: #7069D8;
  --md-ref-palette-secondary60: #8A83F4;
  --md-ref-palette-secondary70: #A6A1FF;
  --md-ref-palette-secondary80: #C4C0FF;
  --md-ref-palette-secondary90: #E3DFFF;
  --md-ref-palette-secondary95: #F3EEFF;
  --md-ref-palette-secondary98: #FCF8FF;
  --md-ref-palette-secondary99: #FFFBFF;
  --md-ref-palette-secondary100: #FFFFFF;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #04004C;
  --md-ref-palette-tertiary10: #0C0664;
  --md-ref-palette-tertiary20: #242478;
  --md-ref-palette-tertiary25: #303083;
  --md-ref-palette-tertiary30: #3C3D8F;
  --md-ref-palette-tertiary35: #48499C;
  --md-ref-palette-tertiary40: #5455A9;
  --md-ref-palette-tertiary50: #6D6EC4;
  --md-ref-palette-tertiary60: #8788E0;
  --md-ref-palette-tertiary70: #A1A3FC;
  --md-ref-palette-tertiary80: #C1C1FF;
  --md-ref-palette-tertiary90: #E1DFFF;
  --md-ref-palette-tertiary95: #F2EFFF;
  --md-ref-palette-tertiary98: #FCF8FF;
  --md-ref-palette-tertiary99: #FFFBFF;
  --md-ref-palette-tertiary100: #FFFFFF;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2D0000;
  --md-ref-palette-error10: #410000;
  --md-ref-palette-error20: #690001;
  --md-ref-palette-error25: #7E0002;
  --md-ref-palette-error30: #930003;
  --md-ref-palette-error35: #A5120C;
  --md-ref-palette-error40: #B72118;
  --md-ref-palette-error50: #DB3C2E;
  --md-ref-palette-error60: #FF5544;
  --md-ref-palette-error70: #FF8A7A;
  --md-ref-palette-error80: #FFB4A9;
  --md-ref-palette-error90: #FFDAD5;
  --md-ref-palette-error95: #FFEDEA;
  --md-ref-palette-error98: #FFF8F7;
  --md-ref-palette-error99: #FFFBFF;
  --md-ref-palette-error100: #FFFFFF;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0E1113;
  --md-ref-palette-neutral10: #191C1D;
  --md-ref-palette-neutral20: #2E3132;
  --md-ref-palette-neutral25: #393C3D;
  --md-ref-palette-neutral30: #444749;
  --md-ref-palette-neutral35: #505354;
  --md-ref-palette-neutral40: #5C5F60;
  --md-ref-palette-neutral50: #757779;
  --md-ref-palette-neutral60: #8F9193;
  --md-ref-palette-neutral70: #A9ABAD;
  --md-ref-palette-neutral80: #C5C7C8;
  --md-ref-palette-neutral90: #E1E3E4;
  --md-ref-palette-neutral95: #EFF1F2;
  --md-ref-palette-neutral98: #F8F9FB;
  --md-ref-palette-neutral99: #FBFCFE;
  --md-ref-palette-neutral100: #FFFFFF;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0A1215;
  --md-ref-palette-neutral-variant10: #151D20;
  --md-ref-palette-neutral-variant20: #2A3235;
  --md-ref-palette-neutral-variant25: #353D40;
  --md-ref-palette-neutral-variant30: #40484C;
  --md-ref-palette-neutral-variant35: #4C5458;
  --md-ref-palette-neutral-variant40: #576064;
  --md-ref-palette-neutral-variant50: #70787C;
  --md-ref-palette-neutral-variant60: #8A9296;
  --md-ref-palette-neutral-variant70: #A4ACB1;
  --md-ref-palette-neutral-variant80: #C0C8CC;
  --md-ref-palette-neutral-variant90: #DCE4E8;
  --md-ref-palette-neutral-variant95: #EAF2F7;
  --md-ref-palette-neutral-variant98: #F3FAFF;
  --md-ref-palette-neutral-variant99: #FAFDFF;
  --md-ref-palette-neutral-variant100: #FFFFFF;
  /* light */
  --md-sys-color-primary-light: #006781;
  --md-sys-color-on-primary-light: #FFFFFF;
  --md-sys-color-primary-container-light: #B9EAFF;
  --md-sys-color-on-primary-container-light: #001F29;
  --md-sys-color-primary-fixed-light: #B9EAFF;
  --md-sys-color-on-primary-fixed-light: #001F29;
  --md-sys-color-primary-fixed-dim-light: #5FD4FD;
  --md-sys-color-on-primary-fixed-variant-light: #004D62;
  --md-sys-color-secondary-light: #564FBD;
  --md-sys-color-on-secondary-light: #FFFFFF;
  --md-sys-color-secondary-container-light: #E3DFFF;
  --md-sys-color-on-secondary-container-light: #120068;
  --md-sys-color-secondary-fixed-light: #E3DFFF;
  --md-sys-color-on-secondary-fixed-light: #120068;
  --md-sys-color-secondary-fixed-dim-light: #C4C0FF;
  --md-sys-color-on-secondary-fixed-variant-light: #3E35A4;
  --md-sys-color-tertiary-light: #5455A9;
  --md-sys-color-on-tertiary-light: #FFFFFF;
  --md-sys-color-tertiary-container-light: #E1DFFF;
  --md-sys-color-on-tertiary-container-light: #0C0664;
  --md-sys-color-tertiary-fixed-light: #E1DFFF;
  --md-sys-color-on-tertiary-fixed-light: #0C0664;
  --md-sys-color-tertiary-fixed-dim-light: #C1C1FF;
  --md-sys-color-on-tertiary-fixed-variant-light: #3C3D8F;
  --md-sys-color-error-light: #B72118;
  --md-sys-color-on-error-light: #FFFFFF;
  --md-sys-color-error-container-light: #FFDAD5;
  --md-sys-color-on-error-container-light: #410000;
  --md-sys-color-outline-light: #70787C;
  --md-sys-color-background-light: #FBFCFE;
  --md-sys-color-on-background-light: #191C1D;
  --md-sys-color-surface-light: #F8F9FB;
  --md-sys-color-on-surface-light: #191C1D;
  --md-sys-color-surface-variant-light: #DCE4E8;
  --md-sys-color-on-surface-variant-light: #40484C;
  --md-sys-color-inverse-surface-light: #2E3132;
  --md-sys-color-inverse-on-surface-light: #EFF1F2;
  --md-sys-color-inverse-primary-light: #5FD4FD;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006781;
  --md-sys-color-outline-variant-light: #C0C8CC;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-container-highest-light: #E1E3E4;
  --md-sys-color-surface-container-high-light: #E7E8EA;
  --md-sys-color-surface-container-light: #ECEEF0;
  --md-sys-color-surface-container-low-light: #F2F4F5;
  --md-sys-color-surface-container-lowest-light: #FFFFFF;
  --md-sys-color-surface-bright-light: #F8F9FB;
  --md-sys-color-surface-dim-light: #D8DADC;
  /* dark */
  --md-sys-color-primary-dark: #5FD4FD;
  --md-sys-color-on-primary-dark: #003544;
  --md-sys-color-primary-container-dark: #004D62;
  --md-sys-color-on-primary-container-dark: #B9EAFF;
  --md-sys-color-primary-fixed-dark: #B9EAFF;
  --md-sys-color-on-primary-fixed-dark: #001F29;
  --md-sys-color-primary-fixed-dim-dark: #5FD4FD;
  --md-sys-color-on-primary-fixed-variant-dark: #004D62;
  --md-sys-color-secondary-dark: #C4C0FF;
  --md-sys-color-on-secondary-dark: #26188D;
  --md-sys-color-secondary-container-dark: #3E35A4;
  --md-sys-color-on-secondary-container-dark: #E3DFFF;
  --md-sys-color-secondary-fixed-dark: #E3DFFF;
  --md-sys-color-on-secondary-fixed-dark: #120068;
  --md-sys-color-secondary-fixed-dim-dark: #C4C0FF;
  --md-sys-color-on-secondary-fixed-variant-dark: #3E35A4;
  --md-sys-color-tertiary-dark: #C1C1FF;
  --md-sys-color-on-tertiary-dark: #242478;
  --md-sys-color-tertiary-container-dark: #3C3D8F;
  --md-sys-color-on-tertiary-container-dark: #E1DFFF;
  --md-sys-color-tertiary-fixed-dark: #E1DFFF;
  --md-sys-color-on-tertiary-fixed-dark: #0C0664;
  --md-sys-color-tertiary-fixed-dim-dark: #C1C1FF;
  --md-sys-color-on-tertiary-fixed-variant-dark: #3C3D8F;
  --md-sys-color-error-dark: #FFB4A9;
  --md-sys-color-on-error-dark: #690001;
  --md-sys-color-error-container-dark: #930003;
  --md-sys-color-on-error-container-dark: #FFDAD5;
  --md-sys-color-outline-dark: #8A9296;
  --md-sys-color-background-dark: #191C1D;
  --md-sys-color-on-background-dark: #E1E3E4;
  --md-sys-color-surface-dark: #111415;
  --md-sys-color-on-surface-dark: #C5C7C8;
  --md-sys-color-surface-variant-dark: #40484C;
  --md-sys-color-on-surface-variant-dark: #C0C8CC;
  --md-sys-color-inverse-surface-dark: #E1E3E4;
  --md-sys-color-inverse-on-surface-dark: #191C1D;
  --md-sys-color-inverse-primary-dark: #006781;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #5FD4FD;
  --md-sys-color-outline-variant-dark: #40484C;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-container-highest-dark: #323537;
  --md-sys-color-surface-container-high-dark: #272A2C;
  --md-sys-color-surface-container-dark: #1D2022;
  --md-sys-color-surface-container-low-dark: #191C1D;
  --md-sys-color-surface-container-lowest-dark: #0C0F10;
  --md-sys-color-surface-bright-dark: #373A3B;
  --md-sys-color-surface-dim-dark: #111415;
  /* Custom Colors */
  --md-custom-color-Orange: #F0934C;
  --md-custom-color-Pink: #D86487;
  --md-custom-color-Green: #46BB2F;
  --md-custom-color-Red: #E24132;
  --md-custom-color-Light-Blue: #8ADAF5;
  --md-custom-color-Blue: #1C73F6;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-height: 64px;
  --md-sys-typescale-display-large-tracking: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-height: 52px;
  --md-sys-typescale-display-medium-tracking: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-height: 44px;
  --md-sys-typescale-display-small-tracking: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-height: 40px;
  --md-sys-typescale-headline-large-tracking: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-height: 36px;
  --md-sys-typescale-headline-medium-tracking: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-height: 32px;
  --md-sys-typescale-headline-small-tracking: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-height: 24px;
  --md-sys-typescale-body-large-tracking: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-height: 20px;
  --md-sys-typescale-body-medium-tracking: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-height: 16px;
  --md-sys-typescale-body-small-tracking: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-height: 20px;
  --md-sys-typescale-label-large-tracking: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-height: 16px;
  --md-sys-typescale-label-medium-tracking: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-height: 16px;
  --md-sys-typescale-label-small-tracking: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-height: 28px;
  --md-sys-typescale-title-large-tracking: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-height: 24px;
  --md-sys-typescale-title-medium-tracking: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-height: 20px;
  --md-sys-typescale-title-small-tracking: 0.10px;
}
